.top-info {
    border: 0 none;
    height: auto !important;
    margin: 10px auto;
    padding-left: 0;
    width: 1000px;
}
.search_rebate {
    background: url("/tpl/concise/images/search_rebate.png") no-repeat scroll 0 0 transparent;
    height: 198px;
    margin: 0 auto 10px;
}
.search_rebate .input_fanli {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #cccccc;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    height: 29px;
    left: 161px;
    line-height: 29px;
    top: 60px;
    width: 479px;
}
.search_rebate .submit {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 43px;
    left: 660px;
    top: 52px;
    width: 128px;
}
.search_rebate a.pa {
    height: 12px;
    left: 782px;
    text-indent: -9999px;
    top: 74px;
    width: 73px;
}
.search_rebate .p1 {
    color: #666666;
    left: 272px;
    top: 138px;
}
.search_rebate .p1 b {
    color: #424242;
    font-size: 14px;
    font-weight: bold;
}
.search_rebate .p1 a {
    color: #3699C7;
    text-decoration: underline;
}
.search_rebate .p1 a:hover {
    color: #3699C7;
    text-decoration: none;
}
.search_rebate .p2 {
    color: #666666;
    left: 799px;
    top: 56px;
    width: 80px;
}
.search_rebate .p2 a {
    color: #F58F3D;
    text-decoration: underline;
}
.search_rebate .p2 a:hover {
    color: #F58F3D;
    text-decoration: none;
}
.search_rebate_d {
    background-image: url("/tpl/concise/images/search_rebate_d.png");
    font-size: 14px !important;
    height: 103px !important;
    margin-bottom: 51px;
	margin-left: 100px;
}
.search_rebate_d .input_fanli {
    left: 40px;
    top: 50px;
    width: 520px;
}
.search_rebate_d .submit {
    height: 42px;
    left: 573px;
    top: 44px;
    width: 114px;
}
.search_rebate_d .p2 {
    left: 575px;
    top: 5px;
    width: auto;
}
.search_rebate_d .p2 a {
    text-decoration: none;
}
.search_rebate_d .p2 a:hover {
    text-decoration: underline;
}
.search_rebate_d .p1 {
    display: none;
}
#resultContainer{
	clear: both;
    display: block;
	margin: 0 auto;
    text-align: left;
    width: 960px;
    overflow: hidden;
}

#resultContainer .result{
	display: none;
}
#main-pic {
    height: 360px;
    width: 360px;
	padding-left: 75px;
}
#main-pic img{
    height: 360px;
    width: 360px;
}
#detail {
    padding-left: 60px;
    width: 360px;
}
#detail h3{
	color: #333333;
    font: 18px/28px "Microsoft YaHei";
    height: 54px;
    margin-bottom: 6px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
#detail th {
    height: 30px;
    white-space: nowrap;
    width: 64px;
}
#detail .price{
	font-size:16px;
}
#detail .red{
	color:#FF6600;
	font-size:26px;
}
#detail .red b{
	font-size:18px;
	font-weight:bold;
}
.btn-simple {
    background: url("/tpl/concise/images/sprite-search.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -99999px;
}
#J_GoUrl {
    background-position: 0 -52px;
    height: 55px;
    margin: 14px 18px 0 0;
    width: 188px;
}
#J_Share {
    background-position: 0 0;
    height: 48px;
    margin: 14px 0 0;
    width: 147px;
}
.mainTip {
    clear: both;
    margin: 0 auto;
    text-align: left;
    width: 960px;
}
.qanda {
    background-color: #FFFFFF;
    border: 1px solid pink;
    clear: both;
    height: 83px;
    margin: 15px 0 0;
    text-align: left;
    width: 635px;
}
.tixian{
	float:left;
	width:315px;
	height:85px;
	overflow:hidden;
	margin-top:15px;
	padding-left:8px;
}
.tixian li{
	padding-top:8px;
}
.hot_play {
    position: relative;
}
.hot_play ul {
    float: left;
    padding: 0;
}
.hot_play img {
    border: 0 none;
    height: 77px;
    margin: -5px 0 0 -6px;
    overflow: scroll;
    padding: 0;
    width: 78px;
}
.qtext {
    float: left;
    height: 83px;
    margin: 0;
    padding: 0;
    width: 562px;
}
.qtext ul {
    margin: 10px 0 0;
    padding: 0;
}
.qtext li {
    display: block;
    float: left;
    line-height: 180%;
    margin: 0 0 0 10px;
    padding: 0;
    width: 270px;
}
.qtext li img {
    display: block;
    float: left;
    height: 43px;
    padding: 10px 0 0 15px;
    width: 43px;
}
.qtext li span {
    float: right;
    margin: 0 0 0 10px;
    padding: 0;
    width: 200px;
}
.qtext li a:link {
    color: #666666;
}

